# Friedman Test
by: *Babak Zolghadr-Asli*

In [1]:
from scipy.stats import friedmanchisquare
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
from pathlib import Path
import seaborn as sns
import os

%matplotlib inline

<div class="alert alert-danger">
    <b>SYNTAX GUIDE</b>
</div>

In order for this script/notebook to work, you need to store the files with a specified name-syntax;

* **Step I.** First all the files in specified folders, where the folder name is as the same as the algorithm name.
* **Step II.** If need be, pass the current direcoty that holds the files to `root_directory` as a `str` object; Note that if you are using a windows base machine you have to use `\` to seprate files location in your directory adress.  
* **Step III.** All results must be stored in a csv file, with the name `'a_fb_result.csv` where `a` is a placeholder for the **algorithm name**, and `b` is the number associated for the function. 



* Note that all these files should have a columns `best_OF`.

In [2]:
root_directory = 'C:/Users/bz267/Optimization results/Randomness vs Intelligance'

alg_list_temp = os.listdir(root_directory)
alg_list = [i for i in alg_list_temp if not i.startswith(tuple(str(i) for i in range(10)))]
print('=='*30)
print('The follwing algorithms are to be evaluted in this sessin:')
print('=='*30)
for i, alg_name in enumerate(alg_list):
    print('[%d] %s'%((i+1), alg_name))
print('--'*25)

============================================================
The follwing algorithms are to be evaluted in this sessin:
============================================================
[1] Elite_Collective_v1
[2] Elite_Collective_v5
[3] Elite_Greedy_Collective_v1
[4] Elite_Greedy_Collective_v5
[5] Pure_Random
[6] Pure_Random_Greedy
--------------------------------------------------

<div class="alert alert-success">
<b>GENERAL PERFORMANCE ANALYSIS</b>
</div>

##### NC

In [3]:
func_num = [1,2,3,4,5,6,7,8,9,10,21,23,24,25,26,27,28]
alg_list = ['Pure_Random', 'Pure_Random_Greedy',
            'Elite_Collective_v5', 'Elite_Collective_v1',
           'Elite_Greedy_Collective_v5', 'Elite_Greedy_Collective_v1']
pop_val = 1000
it_val = 2500
num_variables_values = np.array([2, 10])

In [4]:
# RAEDING AND CREATING FILES WITH OFS OF ALL FUNCTIONS
for num_var in num_variables_values:
    for f in func_num:
        globals()['overall_nc_%dvar_f%d'%(num_var, f)] = pd.DataFrame(columns=alg_list)
        file_name = '%dvar_%dpop_%dit.csv'%(num_var, pop_val, it_val)
        for alg_name in alg_list:
            folder_name = '/%s/Result/Non-Centered/f%d/'%(alg_name, f)
            db = pd.read_csv(root_directory+folder_name+file_name)
            exec("overall_nc_%dvar_f%d[alg_name] = db['best_OF']"%(num_var, f))
        exec("overall_nc_%dvar_f%d.dropna(inplace=True)"%(num_var, f))

In [5]:
for num_var in num_variables_values:
    exec('std_result_%dvar = pd.DataFrame(columns=alg_list)'%num_var)
    exec('mean_result_%dvar = pd.DataFrame(columns=alg_list)'%num_var)
    index = pd.Index(['f%d'%i for i in func_num])
    for f in func_num:
        db = eval('overall_nc_%dvar_f%d'%(num_var, f))
        std_temp = pd.DataFrame(db.std()).transpose()
        mean_temp = pd.DataFrame(db.mean()).transpose()
        exec('std_result_%dvar = pd.concat((std_result_%dvar, std_temp), axis=0, ignore_index=True)'%(num_var, num_var))
        exec('mean_result_%dvar = pd.concat((mean_result_%dvar, mean_temp), axis=0, ignore_index=True)'%(num_var, num_var))
    exec('std_result_%dvar = std_result_%dvar.set_index(index)'%(num_var, num_var))
    exec('mean_result_%dvar = mean_result_%dvar.set_index(index)'%(num_var, num_var))

In [6]:
mean_result_2var

,Pure_Random,Pure_Random_Greedy,Elite_Collective_v5,Elite_Collective_v1,Elite_Greedy_Collective_v5,Elite_Greedy_Collective_v1
f1,115.079482,116.680097,929.467027,1200.571557,1346.805605,1306.208223
f2,200.031682,200.029529,200.000586,200.000080,200.000006,200.000016
f3,300.008303,300.006954,300.000001,300.000000,300.000000,300.000000
f4,400.000020,400.000022,400.000000,400.000001,400.000000,400.000024
f5,500.003252,500.002492,500.000000,500.013958,500.000004,500.029849
f6,600.106283,600.100917,600.000526,600.000403,600.000074,600.017568
f7,700.041946,700.036852,700.602507,701.221230,700.333139,701.068310
f8,800.003208,800.002750,800.000004,800.024420,800.000252,800.059698
f9,900.001402,900.001391,900.000001,900.000000,900.000000,900.000000
f10,1000.059958,1000.074209,1000.191355,1001.348774,1000.198133,1001.656855
f21,2100.106595,2100.103827,2100.002781,2100.000001,2100.000000,2100.006542
f23,2300.736787,2300.750196,2300.015522,2300.000718,2300.000000,2300.000000
f24,2401.262349,2401.315486,2400.024225,2400.000009,2400.000000,2400.000010
f25,2501.655862,2501.523757,2525.179501,2575.714728,2509.572737,2556.664935
f26,2600.979512,2600.891144,2600.009480,2600.000003,2600.000000,2600.000000
f27,2702.047631,2701.802830,2700.045190,2700.031825,2700.038208,2700.084587
f28,2807.356670,2806.565147,2837.140184,2857.086858,2833.362845,2858.649067

In [7]:
mean_result_10var

,Pure_Random,Pure_Random_Greedy,Elite_Collective_v5,Elite_Collective_v1,Elite_Greedy_Collective_v5,Elite_Greedy_Collective_v1
f1,1.367321e+10,1.361306e+10,7.871348e+09,1.147195e+10,1.019204e+10,1.593490e+10
f2,2.753327e+07,3.081113e+07,3.852442e+07,2.036381e+08,5.444195e+07,3.654575e+08
f3,4.809599e+03,4.778539e+03,3.171884e+03,4.629498e+03,4.049241e+03,6.265601e+03
f4,4.927677e+02,4.904640e+02,4.727079e+02,5.039810e+02,4.850655e+02,5.148682e+02
f5,5.503054e+02,5.497836e+02,5.276179e+02,5.415270e+02,5.324214e+02,5.402537e+02
f6,6.299479e+02,6.294730e+02,6.141414e+02,6.282020e+02,6.203541e+02,6.286093e+02
f7,8.249252e+02,8.259848e+02,7.314435e+02,7.551621e+02,7.309517e+02,7.493777e+02
f8,8.490747e+02,8.481153e+02,8.203350e+02,8.312952e+02,8.180007e+02,8.292139e+02
f9,1.325145e+03,1.316921e+03,9.232278e+02,1.026899e+03,9.374704e+02,1.051482e+03
f10,2.075435e+03,2.077706e+03,2.195903e+03,2.240090e+03,2.153651e+03,2.256809e+03
f21,2.213720e+03,2.212301e+03,2.236385e+03,2.249693e+03,2.242354e+03,2.256330e+03
f23,2.587260e+03,2.584298e+03,2.661087e+03,2.672691e+03,2.670726e+03,2.682019e+03
f24,2.553450e+03,2.555868e+03,2.686319e+03,2.723236e+03,2.710916e+03,2.729821e+03
f25,3.003336e+03,3.005704e+03,2.950296e+03,2.975115e+03,2.949799e+03,2.980059e+03
f26,3.135016e+03,3.140183e+03,3.123778e+03,3.198565e+03,3.147315e+03,3.244362e+03
f27,3.121328e+03,3.121925e+03,3.167408e+03,3.179059e+03,3.171344e+03,3.176871e+03
f28,3.279847e+03,3.275180e+03,3.319170e+03,3.405540e+03,3.339805e+03,3.400510e+03

In [8]:
std_result_2var

,Pure_Random,Pure_Random_Greedy,Elite_Collective_v5,Elite_Collective_v1,Elite_Greedy_Collective_v5,Elite_Greedy_Collective_v1
f1,16.921900,13.875550,1.067355e+03,1.175867e+03,1.307169e+03,1.358291e+03
f2,0.019262,0.020565,1.513339e-03,2.528460e-04,1.635882e-05,4.640265e-05
f3,0.009405,0.007658,9.464427e-06,1.277461e-14,0.000000e+00,1.713894e-14
f4,0.000020,0.000021,1.277703e-08,5.444172e-06,5.082142e-07,7.514147e-05
f5,0.003734,0.002052,1.205943e-06,1.062197e-01,2.564390e-05,1.705824e-01
f6,0.052634,0.049442,3.913838e-03,2.317270e-03,3.166384e-04,8.173749e-02
f7,0.044380,0.038858,8.748999e-01,9.947708e-01,6.239510e-01,9.635736e-01
f8,0.003335,0.002896,3.472548e-05,1.462342e-01,2.346894e-03,2.374801e-01
f9,0.001566,0.001636,8.470444e-06,0.000000e+00,0.000000e+00,0.000000e+00
f10,0.058503,0.064212,2.120421e-01,3.988753e+00,1.916922e-01,4.492544e+00
f21,0.054564,0.048030,1.709174e-02,8.619949e-06,3.989922e-10,6.286678e-02
f23,0.396740,0.365059,6.760800e-02,4.234834e-03,0.000000e+00,3.441289e-06
f24,0.858109,0.802751,1.840446e-01,8.055995e-05,0.000000e+00,8.315823e-05
f25,0.932383,0.781912,4.277643e+01,4.248437e+01,2.871051e+01,4.842535e+01
f26,0.458165,0.464949,4.044703e-02,1.817640e-05,0.000000e+00,6.780712e-07
f27,0.787208,0.691708,1.496814e-01,8.210441e-02,4.342369e-02,2.341182e-01
f28,4.735286,3.859919,4.673032e+01,4.851758e+01,4.626641e+01,4.707305e+01

In [9]:
std_result_10var

,Pure_Random,Pure_Random_Greedy,Elite_Collective_v5,Elite_Collective_v1,Elite_Greedy_Collective_v5,Elite_Greedy_Collective_v1
f1,3.689927e+09,3.643561e+09,4.910585e+09,6.042452e+09,5.936520e+09,8.312587e+09
f2,2.848049e+07,3.233733e+07,8.272112e+07,3.983128e+08,1.047824e+08,1.286702e+09
f3,1.200854e+03,1.088716e+03,1.428139e+03,2.349910e+03,1.799805e+03,2.579112e+03
f4,2.305985e+01,2.243525e+01,3.566371e+01,4.902732e+01,3.237065e+01,5.190475e+01
f5,5.470846e+00,6.518106e+00,9.044929e+00,1.194569e+01,9.178995e+00,1.240673e+01
f6,3.474900e+00,3.442467e+00,5.431834e+00,8.392845e+00,6.052342e+00,9.757008e+00
f7,1.346611e+01,1.154964e+01,7.213211e+00,1.374800e+01,9.585297e+00,1.296588e+01
f8,5.078341e+00,5.705278e+00,7.195417e+00,9.328902e+00,7.418498e+00,1.073978e+01
f9,9.021698e+01,9.163849e+01,1.829745e+01,9.306134e+01,2.944914e+01,1.139786e+02
f10,1.171416e+02,1.060532e+02,3.110367e+02,3.447304e+02,3.261201e+02,2.955107e+02
f21,1.000147e+01,1.262768e+01,4.352735e+01,4.747537e+01,4.451059e+01,4.893182e+01
f23,5.865422e+01,6.340079e+01,1.778749e+01,4.798911e+01,3.810019e+01,2.488677e+01
f24,3.508645e+01,3.388546e+01,1.166257e+02,1.145619e+02,1.127341e+02,1.206783e+02
f25,1.770230e+01,1.715421e+01,2.187784e+01,2.765157e+01,2.020261e+01,3.438454e+01
f26,5.182468e+01,5.171761e+01,8.963152e+01,1.193293e+02,8.927488e+01,1.290692e+02
f27,5.124749e+00,5.366842e+00,2.720552e+01,3.049088e+01,2.781615e+01,2.676819e+01
f28,2.223943e+01,2.557933e+01,1.417159e+02,1.515168e+02,1.517699e+02,1.483643e+02

##### C

In [3]:
func_num = [1,2,4,6,7]
alg_list = ['Pure_Random', 'Pure_Random_Greedy',
            'Elite_Collective_v5', 'Elite_Collective_v1',
           'Elite_Greedy_Collective_v5', 'Elite_Greedy_Collective_v1']
pop_val = 1000
it_val = 2500
num_variables_values = np.array([2, 10])

In [4]:
# RAEDING AND CREATING FILES WITH OFS OF ALL FUNCTIONS
for num_var in num_variables_values:
    for f in func_num:
        globals()['overall_c_%dvar_f%d'%(num_var, f)] = pd.DataFrame(columns=alg_list)
        file_name = '%dvar_%dpop_%dit.csv'%(num_var, pop_val, it_val)
        for alg_name in alg_list:
            folder_name = '/%s/Result/Centered/f%d/'%(alg_name, f)
            db = pd.read_csv(root_directory+folder_name+file_name)
            exec("overall_c_%dvar_f%d[alg_name] = db['best_OF']"%(num_var, f))
        exec("overall_c_%dvar_f%d.dropna(inplace=True)"%(num_var, f))

In [5]:
for num_var in num_variables_values:
    exec('std_result_%dvar = pd.DataFrame(columns=alg_list)'%num_var)
    exec('mean_result_%dvar = pd.DataFrame(columns=alg_list)'%num_var)
    index = pd.Index(['f%d'%i for i in func_num])
    for f in func_num:
        db = eval('overall_c_%dvar_f%d'%(num_var, f))
        std_temp = pd.DataFrame(db.std()).transpose()
        mean_temp = pd.DataFrame(db.mean()).transpose()
        exec('std_result_%dvar = pd.concat((std_result_%dvar, std_temp), axis=0, ignore_index=True)'%(num_var, num_var))
        exec('mean_result_%dvar = pd.concat((mean_result_%dvar, mean_temp), axis=0, ignore_index=True)'%(num_var, num_var))
    exec('std_result_%dvar = std_result_%dvar.set_index(index)'%(num_var, num_var))
    exec('mean_result_%dvar = mean_result_%dvar.set_index(index)'%(num_var, num_var))

In [6]:
mean_result_2var

,Pure_Random,Pure_Random_Greedy,Elite_Collective_v5,Elite_Collective_v1,Elite_Greedy_Collective_v5,Elite_Greedy_Collective_v1
f1,5.349641e-03,5.010190e-03,5.902326e-07,9.307145e-30,4.050857e-209,0.0
f2,7.810561e-03,8.391897e-03,1.128068e-06,4.839455e-12,2.464537e-89,0.0
f4,5.668093e-02,5.821289e-02,1.055090e-05,1.297155e-12,7.597959e-101,0.0
f6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
f7,2.129398e-12,1.485417e-12,5.093813e-38,6.118560e-40,0.000000e+00,0.0

In [7]:
mean_result_10var

,Pure_Random,Pure_Random_Greedy,Elite_Collective_v5,Elite_Collective_v1,Elite_Greedy_Collective_v5,Elite_Greedy_Collective_v1
f1,1626.682870,1631.446575,4.466371,88.869283,1.059210,42.321886
f2,10.010243,9.642511,0.667476,2.924540,0.559403,2.296296
f4,21.717494,21.815559,1.317404,5.645151,0.896600,4.577884
f6,1629.930000,1590.570000,3.450000,74.120000,2.280000,42.060000
f7,0.072661,0.071692,0.000004,0.000310,0.000001,0.000102

In [8]:
std_result_2var

,Pure_Random,Pure_Random_Greedy,Elite_Collective_v5,Elite_Collective_v1,Elite_Greedy_Collective_v5,Elite_Greedy_Collective_v1
f1,5.599697e-03,5.789621e-03,4.737892e-06,9.307145e-29,0.000000e+00,0.0
f2,3.881609e-03,3.777945e-03,6.400120e-06,3.418027e-11,2.452960e-88,0.0
f4,3.118546e-02,3.030339e-02,1.052342e-04,1.021975e-11,7.593799e-100,0.0
f6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
f7,4.337385e-12,3.200887e-12,5.087961e-37,6.020499e-39,0.000000e+00,0.0

In [9]:
std_result_10var

,Pure_Random,Pure_Random_Greedy,Elite_Collective_v5,Elite_Collective_v1,Elite_Greedy_Collective_v5,Elite_Greedy_Collective_v1
f1,399.731822,375.433832,4.549531,42.976757,1.182838,28.008703
f2,1.152733,1.170072,0.375375,1.016640,0.391361,0.949916
f4,2.570559,2.341477,0.709266,1.719944,0.601928,2.133131
f6,345.490202,318.547120,3.462279,42.430997,2.756370,31.987630
f7,0.032147,0.032165,0.000008,0.000340,0.000003,0.000138

<div class="alert alert-warning">
    <b>Analysis</b>
</div>

##### NC

In [12]:
for num_var in num_variables_values:
    database = eval('mean_result_%dvar'%num_var)
    temp_storage = list()
    exec('mean_analysis_%dvar = pd.DataFrame(index=std_result_%dvar.index)'%(num_var, num_var))
    for i in range(len(database)):
        np.argmin(database.iloc[i])
        min_val = np.min(database.iloc[i])
        index = database.iloc[i]==min_val
        temp_storage.append(list(index[index].index))
    exec("mean_analysis_%dvar['Best Algorithms'] = temp_storage"%num_var)
    exec("mean_analysis_%dvar['Best result'] = database.min(axis=1)"%num_var)
    exec("mean_analysis_%dvar['Mean of algs'] = database.mean(axis=1)"%num_var)
    exec("mean_analysis_%dvar['std. of algs'] = database.std(axis=1)"%num_var)
    folder_name = '/0Summary result/Stat tests/NC/Mean & std comparision/'
    output_dir = Path(root_directory+folder_name)
    output_dir.mkdir(parents=True, exist_ok=True)
    file_name = 'mean_analysis_%dvar.csv'%num_var
    exec("mean_analysis_%dvar.to_csv(output_dir / file_name)"%num_var)

In [10]:
for num_var in num_variables_values:
    database = eval('std_result_%dvar'%num_var)
    temp_storage = list()
    exec('std_analysis_%dvar = pd.DataFrame(index=std_result_%dvar.index)'%(num_var, num_var))
    for i in range(len(database)):
        np.argmin(database.iloc[i])
        min_val = np.min(database.iloc[i])
        index = database.iloc[i]==min_val
        temp_storage.append(list(index[index].index))
    exec("std_analysis_%dvar['Best Algorithms'] = temp_storage"%num_var)
    exec("std_analysis_%dvar['Best result'] = database.min(axis=1)"%num_var)
    exec("std_analysis_%dvar['Mean of algs'] = database.mean(axis=1)"%num_var)
    exec("std_analysis_%dvar['std. of algs'] = database.std(axis=1)"%num_var)
    folder_name = '/0Summary result/Stat tests/NC/Mean & std comparision/'
    output_dir = Path(root_directory+folder_name)
    output_dir.mkdir(parents=True, exist_ok=True)
    file_name = 'std_analysis_%dvar.csv'%num_var
    exec("std_analysis_%dvar.to_csv(output_dir / file_name)"%num_var)

In [13]:
mean_analysis_2var

,Best Algorithms,Best result,Mean of algs,std. of algs
f1,[Pure_Random],115.079482,835.801999,576.335653
f2,[Elite_Greedy_Collective_v5],200.000006,200.010316,0.015732
f3,"[Elite_Collective_v1, Elite_Greedy_Collective_...",300.000000,300.002543,0.003962
f4,[Elite_Collective_v5],400.000000,400.000011,0.000012
f5,[Elite_Collective_v5],500.000000,500.008259,0.011775
f6,[Elite_Greedy_Collective_v5],600.000074,600.037629,0.051563
f7,[Pure_Random_Greedy],700.036852,700.550664,0.508019
f8,[Elite_Collective_v5],800.000004,800.015055,0.023741
f9,"[Elite_Collective_v1, Elite_Greedy_Collective_...",900.000000,900.000466,0.000721
f10,[Pure_Random],1000.059958,1000.588214,0.717407
f21,[Elite_Greedy_Collective_v5],2100.000000,2100.036624,0.053188
f23,[Elite_Greedy_Collective_v5],2300.000000,2300.250537,0.381910
f24,[Elite_Greedy_Collective_v5],2400.000000,2400.433680,0.662744
f25,[Pure_Random_Greedy],2501.523757,2528.385253,31.112723
f26,[Elite_Greedy_Collective_v5],2600.000000,2600.313356,0.482601
f27,[Elite_Collective_v1],2700.031825,2700.675045,0.971652
f28,[Pure_Random_Greedy],2806.565147,2833.360129,22.851380

In [14]:
mean_analysis_10var

                  Best Algorithms   Best result  Mean of algs  std. of algs
f1          [Elite_Collective_v5]  7.871348e+09  1.212609e+10  2.876907e+09
f2                  [Pure_Random]  2.753327e+07  1.200677e+08  1.376122e+08
f3          [Elite_Collective_v5]  3.171884e+03  4.617394e+03  1.019013e+03
f4          [Elite_Collective_v5]  4.727079e+02  4.933090e+02  1.469310e+01
f5          [Elite_Collective_v5]  5.276179e+02  5.403181e+02  9.104523e+00
f6          [Elite_Collective_v5]  6.141414e+02  6.251213e+02  6.436994e+00
f7   [Elite_Greedy_Collective_v5]  7.309517e+02  7.696408e+02  4.428794e+01
f8   [Elite_Greedy_Collective_v5]  8.180007e+02  8.326725e+02  1.333301e+01
f9          [Elite_Collective_v5]  9.232278e+02  1.096858e+03  1.805812e+02
f10                 [Pure_Random]  2.075435e+03  2.166599e+03  7.845758e+01
f21          [Pure_Random_Greedy]  2.212301e+03  2.235131e+03  1.841119e+01
f23          [Pure_Random_Greedy]  2.584298e+03  2.643013e+03  4.483927e+01
f24                 [Pure_Random]  2.553450e+03  2.659935e+03  8.289170e+01
f25  [Elite_Greedy_Collective_v5]  2.949799e+03  2.977385e+03  2.442335e+01
f26         [Elite_Collective_v5]  3.123778e+03  3.164870e+03  4.680092e+01
f27                 [Pure_Random]  3.121328e+03  3.156323e+03  2.718663e+01
f28          [Pure_Random_Greedy]  3.275180e+03  3.336675e+03  5.682346e+01

In [15]:
std_analysis_2var

,Best Algorithms,Best result,Mean of algs,std. of algs
f1,[Pure_Random_Greedy],1.387555e+01,823.246631,633.975464
f2,[Elite_Greedy_Collective_v5],1.635882e-05,0.006943,0.010071
f3,[Elite_Greedy_Collective_v5],0.000000e+00,0.002845,0.004439
f4,[Elite_Collective_v5],1.277703e-08,0.000020,0.000028
f5,[Elite_Collective_v5],1.205943e-06,0.047103,0.073603
f6,[Elite_Greedy_Collective_v5],3.166384e-04,0.031727,0.034284
f7,[Pure_Random_Greedy],3.885806e-02,0.590072,0.444337
f8,[Elite_Collective_v5],3.472548e-05,0.065388,0.102130
f9,"[Elite_Collective_v1, Elite_Greedy_Collective_...",0.000000e+00,0.000535,0.000826
f10,[Pure_Random],5.850299e-02,1.501291,2.128807
f21,[Elite_Greedy_Collective_v5],3.989922e-10,0.030427,0.028191
f23,[Elite_Greedy_Collective_v5],0.000000e+00,0.138941,0.189437
f24,[Elite_Greedy_Collective_v5],0.000000e+00,0.307511,0.411644
f25,[Pure_Random_Greedy],7.819117e-01,27.351823,21.525792
f26,[Elite_Greedy_Collective_v5],0.000000e+00,0.160597,0.233658
f27,[Elite_Greedy_Collective_v5],4.342369e-02,0.331374,0.324082
f28,[Pure_Random_Greedy],3.859919e+00,32.863760,22.141780

In [16]:
std_analysis_10var

           Best Algorithms   Best result  Mean of algs  std. of algs
f1    [Pure_Random_Greedy]  3.643561e+09  5.422605e+09  1.756682e+09
f2           [Pure_Random]  2.848049e+07  3.222227e+08  4.921320e+08
f3    [Pure_Random_Greedy]  1.088716e+03  1.741089e+03  6.151057e+02
f4    [Pure_Random_Greedy]  2.243525e+01  3.574359e+01  1.254602e+01
f5           [Pure_Random]  5.470846e+00  9.094216e+00  2.788492e+00
f6    [Pure_Random_Greedy]  3.442467e+00  6.091900e+00  2.570323e+00
f7   [Elite_Collective_v5]  7.213211e+00  1.142136e+01  2.572000e+00
f8           [Pure_Random]  5.078341e+00  7.577702e+00  2.144281e+00
f9   [Elite_Collective_v5]  1.829745e+01  7.277367e+01  3.902373e+01
f10   [Pure_Random_Greedy]  1.060532e+02  2.500988e+02  1.085696e+02
f21          [Pure_Random]  1.000147e+01  3.451238e+01  1.809374e+01
f23  [Elite_Collective_v5]  1.778749e+01  4.180309e+01  1.824999e+01
f24   [Pure_Random_Greedy]  3.388546e+01  8.892865e+01  4.225557e+01
f25   [Pure_Random_Greedy]  1.715421e+01  2.316218e+01  6.669492e+00
f26   [Pure_Random_Greedy]  5.171761e+01  8.847452e+01  3.254597e+01
f27          [Pure_Random]  5.124749e+00  2.046206e+01  1.185749e+01
f28          [Pure_Random]  2.223943e+01  1.068643e+02  6.436746e+01

##### C

In [10]:
for num_var in num_variables_values:
    database = eval('mean_result_%dvar'%num_var)
    temp_storage = list()
    exec('mean_analysis_%dvar = pd.DataFrame(index=std_result_%dvar.index)'%(num_var, num_var))
    for i in range(len(database)):
        np.argmin(database.iloc[i])
        min_val = np.min(database.iloc[i])
        index = database.iloc[i]==min_val
        temp_storage.append(list(index[index].index))
    exec("mean_analysis_%dvar['Best Algorithms'] = temp_storage"%num_var)
    exec("mean_analysis_%dvar['Best result'] = database.min(axis=1)"%num_var)
    exec("mean_analysis_%dvar['Mean of algs'] = database.mean(axis=1)"%num_var)
    exec("mean_analysis_%dvar['std. of algs'] = database.std(axis=1)"%num_var)
    folder_name = '/0Summary result/Stat tests/C/Mean & std comparision/'
    output_dir = Path(root_directory+folder_name)
    output_dir.mkdir(parents=True, exist_ok=True)
    file_name = 'mean_analysis_%dvar.csv'%num_var
    exec("mean_analysis_%dvar.to_csv(output_dir / file_name)"%num_var)

In [11]:
for num_var in num_variables_values:
    database = eval('std_result_%dvar'%num_var)
    temp_storage = list()
    exec('std_analysis_%dvar = pd.DataFrame(index=std_result_%dvar.index)'%(num_var, num_var))
    for i in range(len(database)):
        np.argmin(database.iloc[i])
        min_val = np.min(database.iloc[i])
        index = database.iloc[i]==min_val
        temp_storage.append(list(index[index].index))
    exec("std_analysis_%dvar['Best Algorithms'] = temp_storage"%num_var)
    exec("std_analysis_%dvar['Best result'] = database.min(axis=1)"%num_var)
    exec("std_analysis_%dvar['Mean of algs'] = database.mean(axis=1)"%num_var)
    exec("std_analysis_%dvar['std. of algs'] = database.std(axis=1)"%num_var)
    folder_name = '/0Summary result/Stat tests/C/Mean & std comparision/'
    output_dir = Path(root_directory+folder_name)
    output_dir.mkdir(parents=True, exist_ok=True)
    file_name = 'std_analysis_%dvar.csv'%num_var
    exec("std_analysis_%dvar.to_csv(output_dir / file_name)"%num_var)

In [12]:
mean_analysis_2var

,Best Algorithms,Best result,Mean of algs,std. of algs
f1,[Elite_Greedy_Collective_v1],0.0,1.726737e-03,2.676974e-03
f2,[Elite_Greedy_Collective_v1],0.0,2.700598e-03,4.187348e-03
f4,[Elite_Greedy_Collective_v1],0.0,1.915073e-02,2.966805e-02
f6,"[Pure_Random, Pure_Random_Greedy, Elite_Collec...",0.0,0.000000e+00,0.000000e+00
f7,"[Elite_Greedy_Collective_v5, Elite_Greedy_Coll...",0.0,6.024692e-13,9.552994e-13

In [13]:
mean_analysis_10var

                 Best Algorithms  Best result  Mean of algs  std. of algs
f1  [Elite_Greedy_Collective_v5]     1.059210    565.807699    824.208097
f2  [Elite_Greedy_Collective_v5]     0.559403      4.350078      4.341158
f4  [Elite_Greedy_Collective_v5]     0.896600      9.328349      9.806363
f6  [Elite_Greedy_Collective_v5]     2.280000    557.068333    816.322716
f7  [Elite_Greedy_Collective_v5]     0.000001      0.024129      0.037220

In [14]:
std_analysis_2var

,Best Algorithms,Best result,Mean of algs,std. of algs
f1,"[Elite_Greedy_Collective_v5, Elite_Greedy_Coll...",0.0,1.899009e-03,2.940712e-03
f2,[Elite_Greedy_Collective_v1],0.0,1.277659e-03,1.977135e-03
f4,[Elite_Greedy_Collective_v1],0.0,1.026568e-02,1.586527e-02
f6,"[Pure_Random, Pure_Random_Greedy, Elite_Collec...",0.0,0.000000e+00,0.000000e+00
f7,"[Elite_Greedy_Collective_v5, Elite_Greedy_Coll...",0.0,1.256379e-12,1.979276e-12

In [15]:
std_analysis_10var

                 Best Algorithms  Best result  Mean of algs  std. of algs
f1  [Elite_Greedy_Collective_v5]     1.182838    141.980581    191.017678
f2         [Elite_Collective_v5]     0.375375      0.842683      0.365279
f4  [Elite_Greedy_Collective_v5]     0.601928      1.679384      0.841681
f6  [Elite_Greedy_Collective_v5]     2.756370    124.112433    162.021946
f7  [Elite_Greedy_Collective_v5]     0.000003      0.010800      0.016543

<div class="alert alert-success">
<b>FRIEDMAN RANKING TEST</b>
</div>

<div class="alert alert-warning">
    <b>Part A: <i> Avr. Ranking </i> </b> 
</div>

##### NC

In [11]:
for num_var in num_variables_values:
    rank_db_raw = list()
    db = eval('mean_result_%dvar'%num_var)
    for i in range(len(db)):
        rankings = db.iloc[i,:].rank(method='min')
        rank_db_raw.append(rankings)
    exec("mean_rank_db_%dvar = pd.DataFrame(rank_db_raw, columns=db.columns, index = db.index).transpose()"%num_var)
    exec("mean_rank_db_%dvar['Avr_rank'] = mean_rank_db_%dvar.mean(axis=1)"%(num_var, num_var))
    exec("mean_rank_db_%dvar['Overall_rank'] = mean_rank_db_%dvar['Avr_rank'].rank(method='min').astype(int)"%(num_var, num_var))
    folder_name = '/0Summary result/Stat tests/NC/Friedman test/'
    output_dir = Path(root_directory+folder_name)
    output_dir.mkdir(parents=True, exist_ok=True)
    file_name = 'mean_Friedmanrank_result_%dvar.csv'%num_var
    exec("mean_rank_db_%dvar.to_csv(output_dir / file_name)"%num_var)

In [12]:
mean_rank_db_2var

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f21,f23,f24,f25,f26,f27,f28,Avr_rank,Overall_rank
Pure_Random,1.0,6.0,6.0,4.0,4.0,6.0,2.0,4.0,6.0,1.0,6.0,5.0,5.0,2.0,6.0,6.0,2.0,4.235294,6
Pure_Random_Greedy,2.0,5.0,5.0,5.0,3.0,5.0,1.0,3.0,5.0,2.0,5.0,6.0,6.0,1.0,5.0,5.0,1.0,3.823529,4
Elite_Collective_v5,3.0,4.0,4.0,1.0,1.0,3.0,4.0,1.0,4.0,3.0,3.0,4.0,4.0,4.0,4.0,3.0,4.0,3.176471,2
Elite_Collective_v1,4.0,3.0,1.0,3.0,5.0,2.0,6.0,5.0,1.0,5.0,2.0,3.0,2.0,6.0,3.0,1.0,5.0,3.352941,3
Elite_Greedy_Collective_v5,6.0,1.0,1.0,2.0,2.0,1.0,3.0,2.0,1.0,4.0,1.0,1.0,1.0,3.0,1.0,2.0,3.0,2.058824,1
Elite_Greedy_Collective_v1,5.0,2.0,1.0,6.0,6.0,4.0,5.0,6.0,1.0,6.0,4.0,2.0,3.0,5.0,2.0,4.0,6.0,4.000000,5

In [13]:
mean_rank_db_10var

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f21,f23,f24,f25,f26,f27,f28,Avr_rank,Overall_rank
Pure_Random,5.0,1.0,5.0,4.0,6.0,6.0,5.0,6.0,6.0,1.0,2.0,2.0,1.0,5.0,2.0,1.0,2.0,3.529412,4
Pure_Random_Greedy,4.0,2.0,4.0,3.0,5.0,5.0,6.0,5.0,5.0,2.0,1.0,1.0,2.0,6.0,3.0,2.0,1.0,3.352941,3
Elite_Collective_v5,1.0,3.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,4.0,3.0,3.0,3.0,2.0,1.0,3.0,3.0,2.058824,1
Elite_Collective_v1,3.0,5.0,3.0,5.0,4.0,3.0,4.0,4.0,3.0,5.0,5.0,5.0,5.0,3.0,5.0,6.0,6.0,4.352941,5
Elite_Greedy_Collective_v5,2.0,4.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,3.0,4.0,4.0,4.0,1.0,4.0,4.0,4.0,2.705882,2
Elite_Greedy_Collective_v1,6.0,6.0,6.0,6.0,3.0,4.0,3.0,3.0,4.0,6.0,6.0,6.0,6.0,4.0,6.0,5.0,5.0,5.000000,6

##### C

In [30]:
for num_var in num_variables_values:
    rank_db_raw = list()
    db = eval('mean_result_%dvar'%num_var)
    for i in range(len(db)):
        rankings = db.iloc[i,:].rank(method='min')
        rank_db_raw.append(rankings)
    exec("mean_rank_db_%dvar = pd.DataFrame(rank_db_raw, columns=db.columns, index = db.index).transpose()"%num_var)
    exec("mean_rank_db_%dvar['Avr_rank'] = mean_rank_db_%dvar.mean(axis=1)"%(num_var, num_var))
    exec("mean_rank_db_%dvar['Overall_rank'] = mean_rank_db_%dvar['Avr_rank'].rank(method='min').astype(int)"%(num_var, num_var))
    folder_name = '/0Summary result/Stat tests/C/Friedman test/'
    output_dir = Path(root_directory+folder_name)
    output_dir.mkdir(parents=True, exist_ok=True)
    file_name = 'mean_Friedmanrank_result_%dvar.csv'%num_var
    exec("mean_rank_db_%dvar.to_csv(output_dir / file_name)"%num_var)

In [31]:
mean_rank_db_2var

                             f1   f2   f4   f6   f7  Avr_rank  Overall_rank
Pure_Random                 6.0  5.0  5.0  1.0  6.0       4.6             5
Pure_Random_Greedy          5.0  6.0  6.0  1.0  5.0       4.6             5
Elite_Collective_v5         4.0  4.0  4.0  1.0  4.0       3.4             4
Elite_Collective_v1         3.0  3.0  3.0  1.0  3.0       2.6             3
Elite_Greedy_Collective_v5  2.0  2.0  2.0  1.0  1.0       1.6             2
Elite_Greedy_Collective_v1  1.0  1.0  1.0  1.0  1.0       1.0             1

In [32]:
mean_rank_db_10var

                             f1   f2   f4   f6   f7  Avr_rank  Overall_rank
Pure_Random                 5.0  6.0  5.0  6.0  6.0       5.6             6
Pure_Random_Greedy          6.0  5.0  6.0  5.0  5.0       5.4             5
Elite_Collective_v5         2.0  2.0  2.0  2.0  2.0       2.0             2
Elite_Collective_v1         4.0  4.0  4.0  4.0  4.0       4.0             4
Elite_Greedy_Collective_v5  1.0  1.0  1.0  1.0  1.0       1.0             1
Elite_Greedy_Collective_v1  3.0  3.0  3.0  3.0  3.0       3.0             3

<div class="alert alert-warning">
    <b>Part B: <i> Std. Ranking </i> </b> 
</div>

##### NC

In [15]:
for num_var in num_variables_values:
    rank_db_raw = list()
    db = eval('std_result_%dvar'%num_var)
    for i in range(len(db)):
        rankings = db.iloc[i,:].rank(method='min')
        rank_db_raw.append(rankings)
    exec("std_rank_db_%dvar = pd.DataFrame(rank_db_raw, columns=db.columns, index = db.index).transpose()"%num_var)
    exec("std_rank_db_%dvar['Avr_rank'] = std_rank_db_%dvar.mean(axis=1)"%(num_var, num_var))
    exec("std_rank_db_%dvar['Overall_rank'] = std_rank_db_%dvar['Avr_rank'].rank(method='min').astype(int)"%(num_var, num_var))
    folder_name = '/0Summary result/Stat tests/NC/Friedman test/'
    output_dir = Path(root_directory+folder_name)
    output_dir.mkdir(parents=True, exist_ok=True)
    file_name = 'std_Friedmanrank_result_%dvar.csv'%num_var
    exec("std_rank_db_%dvar.to_csv(output_dir / file_name)"%num_var)

In [16]:
std_rank_db_2var

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f21,f23,f24,f25,f26,f27,f28,Avr_rank,Overall_rank
Pure_Random,2.0,5.0,6.0,4.0,4.0,5.0,2.0,4.0,5.0,1.0,5.0,6.0,6.0,2.0,5.0,6.0,2.0,4.117647,5
Pure_Random_Greedy,1.0,6.0,5.0,5.0,3.0,4.0,1.0,3.0,6.0,2.0,4.0,5.0,5.0,1.0,6.0,5.0,1.0,3.705882,4
Elite_Collective_v5,3.0,4.0,4.0,1.0,1.0,3.0,4.0,1.0,4.0,4.0,3.0,4.0,4.0,5.0,4.0,3.0,4.0,3.294118,2
Elite_Collective_v1,4.0,3.0,2.0,3.0,5.0,2.0,6.0,5.0,1.0,5.0,2.0,3.0,2.0,4.0,3.0,2.0,6.0,3.411765,3
Elite_Greedy_Collective_v5,5.0,1.0,1.0,2.0,2.0,1.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,3.0,1.0,1.0,3.0,1.882353,1
Elite_Greedy_Collective_v1,6.0,2.0,3.0,6.0,6.0,6.0,5.0,6.0,1.0,6.0,6.0,2.0,3.0,6.0,2.0,4.0,5.0,4.411765,6

In [17]:
std_rank_db_10var

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f21,f23,f24,f25,f26,f27,f28,Avr_rank,Overall_rank
Pure_Random,2.0,1.0,2.0,2.0,1.0,2.0,5.0,1.0,3.0,2.0,1.0,5.0,2.0,2.0,2.0,1.0,1.0,2.058824,2
Pure_Random_Greedy,1.0,2.0,1.0,1.0,2.0,1.0,3.0,2.0,4.0,1.0,2.0,6.0,1.0,1.0,1.0,2.0,2.0,1.941176,1
Elite_Collective_v5,3.0,3.0,3.0,4.0,3.0,3.0,1.0,3.0,1.0,4.0,3.0,1.0,5.0,4.0,4.0,4.0,3.0,3.058824,3
Elite_Collective_v1,5.0,5.0,5.0,5.0,5.0,5.0,6.0,5.0,5.0,6.0,5.0,4.0,4.0,5.0,5.0,6.0,5.0,5.058824,5
Elite_Greedy_Collective_v5,4.0,4.0,4.0,3.0,4.0,4.0,2.0,4.0,2.0,5.0,4.0,3.0,3.0,3.0,3.0,5.0,6.0,3.705882,4
Elite_Greedy_Collective_v1,6.0,6.0,6.0,6.0,6.0,6.0,4.0,6.0,6.0,3.0,6.0,2.0,6.0,6.0,6.0,3.0,4.0,5.176471,6

##### C

In [6]:
for num_var in num_variables_values:
    rank_db_raw = list()
    db = eval('std_result_%dvar'%num_var)
    for i in range(len(db)):
        rankings = db.iloc[i,:].rank(method='min')
        rank_db_raw.append(rankings)
    exec("std_rank_db_%dvar = pd.DataFrame(rank_db_raw, columns=db.columns, index = db.index).transpose()"%num_var)
    exec("std_rank_db_%dvar['Avr_rank'] = std_rank_db_%dvar.mean(axis=1)"%(num_var, num_var))
    exec("std_rank_db_%dvar['Overall_rank'] = std_rank_db_%dvar['Avr_rank'].rank(method='min').astype(int)"%(num_var, num_var))
    folder_name = '/0Summary result/Stat tests/C/Friedman test/'
    output_dir = Path(root_directory+folder_name)
    output_dir.mkdir(parents=True, exist_ok=True)
    file_name = 'std_Friedmanrank_result_%dvar.csv'%num_var
    exec("std_rank_db_%dvar.to_csv(output_dir / file_name)"%num_var)

In [7]:
std_rank_db_2var

                             f1   f2   f4   f6   f7  Avr_rank  Overall_rank
Pure_Random                 5.0  6.0  6.0  1.0  6.0       4.8             6
Pure_Random_Greedy          6.0  5.0  5.0  1.0  5.0       4.4             5
Elite_Collective_v5         4.0  4.0  4.0  1.0  4.0       3.4             4
Elite_Collective_v1         3.0  3.0  3.0  1.0  3.0       2.6             3
Elite_Greedy_Collective_v5  1.0  2.0  2.0  1.0  1.0       1.4             2
Elite_Greedy_Collective_v1  1.0  1.0  1.0  1.0  1.0       1.0             1

In [8]:
std_rank_db_10var

                             f1   f2   f4   f6   f7  Avr_rank  Overall_rank
Pure_Random                 6.0  5.0  6.0  6.0  5.0       5.6             6
Pure_Random_Greedy          5.0  6.0  5.0  5.0  6.0       5.4             5
Elite_Collective_v5         2.0  1.0  2.0  2.0  2.0       1.8             2
Elite_Collective_v1         4.0  4.0  3.0  4.0  4.0       3.8             4
Elite_Greedy_Collective_v5  1.0  2.0  1.0  1.0  1.0       1.2             1
Elite_Greedy_Collective_v1  3.0  3.0  4.0  3.0  3.0       3.2             3